/* Global style */
:root {
    --dark: #0C0F0A;
    --light: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    /* background-color: var(--dark); */
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--light);
    background-color: rgb(43, 26, 0);
    line-height: 1.5;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color: var(--light);
    line-height: 1.25;
  }
  
  h1 {
    text-align: center;
    margin-top: 4rem;
  }

  main {
    margin: 20px auto;
    width: 94%;
  }
  
  p {
    font-size: 1.2rem;
    margin: 0;
  }

  /* Form style */
  form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid var(--dark); */
    padding: .5rem;
    border-radius: .5rem;
  }
  
  label {
    text-align: center;
    display: block;
    margin: 0 0;
    font-size: 1.2rem;
  }
  
  #highscore {
    /* border: 1px solid var(--dark); */
    margin-top: 3rem;
    border-radius: .5rem;
    padding:.5rem;
  }

  .skillColumn {
    /* border: 1px solid red; */
  }

  .rankColumn {
    text-align: end;
    /* border: 1px solid red; */
  }

  .levelColumn {
    /* border: 1px solid red; */
  }

  .xpColumn {
    text-align: end;
    /* border: 1px solid red; */
  }